{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header">
            KPH Accounting
        </div>
        <div class="card-body">
            <h5 class="card-title">Accounts Payable</h5>
            <div class="table-responsive">
                <div class="table-responsive table-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Client</th>
                                <th scope="col">Quotation Number</th>
                                <th scope="col">Acceptance Number</th>
                                <th scope="col">Total PO Amount</th>
                                <th scope="col">Total Paid Amount</th>
                                <th scope="col">Balance</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}

                            <tr style="position: relative" {% if project.fully_paid %} class="table-success" {% endif %}>
                                <td>
                                    <a class="stretched-link" href="/ap/details/{{ project.id }}"></a>
                                {{project.id}}
                                </td>
                                <td>{{ project.client }}</td>
                                <td>{{ project.quotation }}</td>
                                <td>{{ project.acceptance }}</td>
                                <td>{{ project.total_po_amount }}</td>
                                <td>{{ project.total_paid }}</td>
                                <td>{{ project.balance }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}