{% extends 'base.html' %}

{% block content %}
    <div id="liveAlertProjectExists"></div>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header text-center">Add New Project</div>
            <div class="card-body">
                <h5 class="card-title">Project Details</h5>
{#                TODO: Add required fields#}
                <form action=""
                      hx-post="/ap/add-project"
                      hx-target="this"
                      hx-swap="none"
                      hx-trigger="submit delay:200ms"
                      id="addProjectForm"
                >
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="client">Client</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Name of client"
                                    name="client"
                                    id=""
                            />
                        </div>
                        <div class="col">
                            <label class="form-label">Quotation Number</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="QKPH-1234-5678"
                                    name="quotation"
                                    id=""
                            />
                        </div>
                        <div class="col">
                            <label class="form-label">Acceptance Number</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="AKPH-1234-5678"
                                    name="acceptance"
                                    id=""
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label" for="currency">Currency</label>
                            <select class="form-select" name="currency" id="currency">
                                <option value="PHP">PHP</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="total_po_amount">Total Purchase Order Amount</label>
                            <input
                                    type="number"
                                    step="0.01"
                                    class="form-control"
                                    placeholder="0.00"
                                    name="total_po_amount"
                                    id=""
                            />
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-1 ps-4"><button type="submit" class="btn btn-primary mt-3">Add</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const alertPlaceholder = document.getElementById('liveAlertProjectExists')
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
        }

        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            // Check if the response status is 409 (Forbidden)
            if (evt.detail.xhr.status === 409) {
                // Stop HTMX from trying to swap any content
                evt.detail.shouldSwap = false;
                // Trigger the alert
                appendAlert('Failed to add project: Project already exists', 'danger');
            }
        });
    </script>
{% endblock %}