{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">Project Details</div>
    <div class="card-body">
      <form action=""
            hx-put="/ap/project/{{ project.id }}"
            hx-swap="none"
            hx-trigger="submit delay:200ms"
      >
        <div class="row">
          <div class="col">
            <label for="">Project Name</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.project_name }}"
              name="project_name"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Quotation Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.quotation }}"
              name="quotation"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Acceptance Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.acceptance }}"
              name="acceptance"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Vendor Purchase Order</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.vendor_po }}"
              name="vendor_po"
              id=""
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="">Supplier</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.supplier }}"
              name="supplier"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Document Type</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.document_type }}"
              name="document_type"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Invoice Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.invoice_number }}"
              name=invoice_number""
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Date Paid</label>
            <input
              type="date"
              class="form-control"
              value="{{ project.date_paid }}"
              name="date_paid"
              id=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="">DV Reference</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.dv_reference }}"
              name="dv_reference"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Currency</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.currency }}"
              name="currency"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label for="">Purchase Order Amount</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              value="{{ project.po_amount }}"
              name="po_amount"
              id=""

            />
          </div>
          <div class="col">
            <label for="">Invoice Amount</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              value="{{ project.invoice_amount }}"
              name="invoice_amount"
              id=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="">Fully Paid</label>
            <select class="form-select" aria-label="Is paid?" name="fully_paid" id="">
                <option value="true" {% if project.fully_paid %} selected {% endif %}>Yes</option>
                <option value="false" {% if not project.fully_paid %} selected {% endif %}>No</option>
            </select>
          </div>
          <div class="col-7">
            <label for="">Balance</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              value="{{ project.balance }}"
              name="balance"
              id=""
              readonly
            />
          </div>
        </div>
      <div class="row justify-content-end">
          <div class="col-1"><button type="submit" class="btn btn-primary">Submit</button></div>
          <div class="col-1"><button type="reset" class="btn btn-secondary">Cancel</button></div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
