{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card mt-3">
    <div class="card-header">Project Details</div>
    <div class="card-body">
      <form action=""
            hx-put="/ap/project/{{ project.id }}"
            hx-swap="none"
            hx-trigger="submit delay:200ms"
      >
        <div class="row">
          <div class="col">
            <label class="form-label">Project Name</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.project_name }}"
              name="project_name"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label class="form-label">Quotation Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.quotation }}"
              name="quotation"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label class="form-label">Acceptance Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.acceptance }}"
              name="acceptance"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label class="form-label">Vendor Purchase Order</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.vendor_po }}"
              name="vendor_po"
              id=""
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label">Supplier</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.supplier }}"
              name="supplier"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label class="form-label">Invoice Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.invoice_number }}"
              name=invoice_number""
              id=""
              readonly
            />
          </div>
            <div class="col">
            <label class="form-label">Currency</label>
            <input
              type="text"
              class="form-control"
              value="{{ project.currency }}"
              name="currency"
              id=""
              readonly
            />
          </div>
          <div class="col">
            <label class="form-label">Purchase Order Amount</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              value="{{ project.po_amount }}"
              name="po_amount"
              id=""
              readonly
            />
          </div>
{#          <div class="col">#}
{#            <label class="form-label">Date Paid</label>#}
{#            <input#}
{#              type="date"#}
{#              class="form-control"#}
{#              value="{{ project.date_paid }}"#}
{#              name="date_paid"#}
{#              id=""#}
{#            />#}
{#          </div>#}
        </div>
        <div class="row">
{#          <div class="col">#}
{#            <label class="form-label">Invoice Amount</label>#}
{#            <input#}
{#              type="number"#}
{#              step="0.01"#}
{#              class="form-control"#}
{#              placeholder="0.00"#}
{#              name="invoice_amount"#}
{#              id=""#}
{#            />#}
{#          </div>#}
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label">Balance</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              value="{{ project.balance }}"
              name="balance"
              id=""
              readonly
            />
          </div>
        </div>
      </form>
    </div>
  </div>

{#    Add Transaction#}
    <div class="card mt-3">
        <div class="card-header">Add transaction</div>
        <div class="card-body">
            <form hx-put="/ap/project/{{ project.id }}"
            hx-swap="none"
            hx-trigger="submit delay:200ms">
                <div class="row">
{#                    <div class="col">#}
{#                        <label class="form-label">Category</label>#}
{#                        <select class="form-select" name="category" id="">#}
{#                            <option value="cloud-mr">Cloud-MR</option>#}
{#                            <option value="cloud-nr">Cloud-NR</option>#}
{#                            <option value="si-oth-mr">SI-OTH-MR</option>#}
{#                            <option value="si-oth-nr">SI-OTH-NR</option>#}
{#                            <option value="si-rpa-mr">SI-RPA-MR</option>#}
{#                            <option value="cloud-oth-mr">Cloud-OTH-MR</option>#}
{#                            <option value="cloud-oth-nr">Cloud-OTH-NR</option>#}
{#                            <option value="cloud-iaas-nr">Cloud-IAAS-NR</option>#}
{#                            <option value="cloud-saas-nr">Cloud-SAAS-NR</option>#}
{#                            <option value="iot-nr">IOT-NR</option>#}
{#                        </select>#}
{#                    </div>#}
                    <div class="col">
                        <label class="form-label">Document Type</label>
                        <select class="form-select" name="document_type" id="">
                            <option value="Sales Invoice">Sales Invoice</option>
                            <option value="Service Invoice">Service Invoice</option>
                            <option value="B Invoice">B Invoice</option>
                            <option value="INV">INV</option>
                            <option value="BS">BS</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Invoice Amount</label>
                        <input type="number" step="0.01" class="form-control" placeholder="0.00" name="invoice_amount" id="">
                    </div>
                    <div class="col">
                        <label class="form-label">DV Reference</label>
                        <input type="text" class="form-control" placeholder="DV25-12-345" name="dv_reference" id="">
                    </div>
                    <div class="col">
                        <label class="form-label">Date Paid</label>
                        <input
                          type="date"
                          class="form-control"
                          value="{{ project.date_paid }}"
                          name="date_paid"
                          id=""
                        />
                      </div>
                </div>
                <div class="row justify-content-end">
                      <div class="col-1"><button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button></div>
                      <div class="col-1"><button type="reset" class="btn btn-secondary mt-3">Reset</button></div>
                  </div>
                  {% include 'modals.html' %}
            </form>
    </div>
</div>
{% endblock %}
