{% extends "base.html" %}

{% block content %}{% set active_tab = 'record-invoice' %}{% include 'ap-tabs.html' %}
    <div id="liveAlertPlaceholder"></div>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">Record Invoice</div>
            <div class="card-body">
                {# TODO: Disable submit action when Enter key is pressed. #}
{#                TODO: Add Accounting Type(?) column (Inventory, etc.)#}
{#                TODO: Add taxes column (VAT, EWT, etc.)#}
                <form action=""
                      hx-post="/ap/record-invoice/{{ project.id }}"
                      hx-swap="none"
                      hx-trigger="submit delay:200ms">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="vendor_po_id">Vendor Purchase Order</label>
                            <select class="form-select" name="vendor_po_id" id="vendor_po_id">
                                {% for vendor_po in vendor_po_list %}
                                    <option value="{{ vendor_po.id }}">{{ vendor_po.vendor_po }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label" for="invoice_type">Invoice Type</label>
                            <select class="form-select" name="invoice_type" id="invoice_type">
                                <option value="Sales Invoice">Sales Invoice</option>
                                <option value="Service Invoice">Service Invoice</option>
                                <option value="B Invoice">B Invoice</option>
                                <option value="INV">INV</option>
                                <option value="BS">BS</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label" for="invoice_number">Invoice Number</label>
                            <input type="text" class="form-control" name="invoice_number" id="invoice_number" placeholder="123" required>
                        </div>
                        <div class="col">
                            <label class="form-label" for="invoice_amount">Invoice Amount</label>
                            <input type="number" step="0.01" class="form-control" name="invoice_amount" id="invoice_amount" placeholder="0.00" required>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-1">
                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Submit
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="reset" class="btn btn-secondary mt-3">Reset</button>
                        </div>
                    </div>
                    {% include 'modals.html' %}
                </form>
            </div>
        </div>
    </div>

    <script>
        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
        }

        const alertTrigger = document.getElementById('liveAlertBtn')
        if (alertTrigger) {
            alertTrigger.addEventListener('click', () => {
                appendAlert('Success!', 'success')
            })
        }
    </script>
{% endblock %}



