{% extends "base.html" %}

{% block content %}
{% set active_tab = 'transaction-history' %}
{% include 'ap-tabs.html' %}

<div class="container">
    <div class="card mt-3">
        <div class="card-header">Transaction History</div>
        <div class="card-body">
{#        TODO: Add function to edit transactions but the DV-Reference only#}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">DV-Reference</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr style="position: relative;">
                    <td>{{ transaction.date_paid }}</td>
                    <td>{{ transaction.dv_reference }}</td>
                    <td>{{ transaction.transaction_amount }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}